In [1]:
import pandas as pd
from experiments.data.load_data_util import load_data, load_data_categories

data = load_data('../data')
plugins_categories = load_data_categories('../data')

def generate_categories_with_index(plugins_categories):
    categories_with_index = pd.DataFrame(plugins_categories['category'].unique(), columns=['name']).reset_index()
    categories_with_index
    categories_with_index.index = categories_with_index['name']
    categories_with_index
    del categories_with_index['name']
    return categories_with_index


def generate_plugins_categories_index(plugins_categories):
    plugins_categories_index = plugins_categories.join(generate_categories_with_index(plugins_categories), on='category')
    plugins_categories_index
    del plugins_categories_index['name']
    del plugins_categories_index['category']
    return plugins_categories_index

plugins_categories_index = generate_plugins_categories_index(plugins_categories)

for column in data.columns.copy():
    data = data.join(plugins_categories_index, on=column)
    del data[column]
    data = data.rename(columns={'index': column})

data.head()

                 plugin1  plugin2  plugin3  plugin4  plugin5  plugin6
id   name
5299 plexi*dly*        2        3        6       10       10       10
5300 HB*Boston3        1        3        1       10       10       10
5301 _Clean****        0        1        0       10       10       10
5303 _2tone****        2        6        3       10       10       10
5304 Numb______        2        6        3       10       10       10

In [2]:
data.drop_duplicates().to_csv('../data/patches-categories.csv')
print(data.drop_duplicates().shape[0])
data.drop_duplicates().head()

1286

                 plugin1  plugin2  plugin3  plugin4  plugin5  plugin6
id   name
5299 plexi*dly*        2        3        6       10       10       10
5300 HB*Boston3        1        3        1       10       10       10
5301 _Clean****        0        1        0       10       10       10
5303 _2tone****        2        6        3       10       10       10
5307 _Ethereal         1        3        6       10       10       10