In [1]:
import numpy as np
import pandas as pd

rbm_data = pd.read_csv('../rbm_results.csv', index_col=0)
#rbm_data['hidden'] = rbm_data['missing'].str.split(',').length

In [2]:
rbm_data['total_missing'] = rbm_data['missing'].str.split(',').str.len() + 1
rbm_data['total_missing'] = np.where(rbm_data['missing'] == 'set()', 1, rbm_data['total_missing'])

In [3]:
rbm_data.head()

   fold    metric missing     value  y  total_missing
0     0  Accuracy   set()  0.392610  0              1
1     0     Hit@5   set()  0.549654  0              1
2     0      MDCG   set()  0.571258  0              1
3     0     MAP@5   set()  0.212145  0              1
4     0  Accuracy   set()  0.143187  1              1

In [4]:
rbm_data.groupby(['fold', 'metric', 'total_missing'])['value'].agg(["mean", "std"]) \
        .pivot_table(index=['fold', 'total_missing'], columns='metric', values=['mean', 'std'])

                        mean                                     std  \
metric              Accuracy     Hit@5     MAP@5      MDCG  Accuracy
fold total_missing
0    1              0.316012  0.481909  0.282745  0.515147  0.150895
     2              0.290993  0.463202  0.279460  0.497005  0.140390
     3              0.260778  0.437028  0.271321  0.472955  0.141753
     4              0.223903  0.401655  0.258908  0.443268  0.138486
     5              0.179523  0.359430  0.240186  0.406029  0.124848


metric                 Hit@5     MAP@5      MDCG
fold total_missing
0    1              0.153232  0.170922  0.120779
     2              0.152768  0.158021  0.116366
     3              0.157675  0.155725  0.119480
     4              0.167335  0.154314  0.121326
     5              0.176823  0.159437  0.116715

# KNN

In [17]:
nn_data = pd.read_csv('../nn_results.csv', index_col=0)
nn_data['total_missing'] = nn_data['missing'].str.split(',').str.len() + 1
nn_data= nn_data[nn_data['fold'] == 1]
nn_data['total_missing'] = np.where(nn_data['missing'] == 'set()', 1, nn_data['total_missing'])
nn_data.groupby(['fold', 'metric', 'total_missing'])['value'].agg(["mean", "std"]) \
        .pivot_table(index=['fold', 'total_missing'], columns='metric', values=['mean', 'std'])

                        mean                                     std  \
metric              Accuracy     Hit@5     MAP@5      MDCG  Accuracy
fold total_missing
1    1              0.373843  0.552083  0.311251  0.562882  0.139971
     2              0.359414  0.539120  0.309947  0.551041  0.136353
     3              0.344136  0.523071  0.307435  0.538563  0.136904
     4              0.323958  0.493711  0.302249  0.519159  0.145120
     5              0.297531  0.464275  0.297096  0.496442  0.149591


metric                 Hit@5     MAP@5      MDCG
fold total_missing
1    1              0.134600  0.174080  0.107946
     2              0.125636  0.161608  0.107035
     3              0.130827  0.159287  0.110225
     4              0.140571  0.161141  0.115694
     5              0.154526  0.163239  0.123529