In [36]:
import numpy as np
import pandas as pd

data = pd.read_csv('../rbm_results.csv', index_col=0)
data['total_missing'] = data['missing'].str.split(',').str.len() + 1
data['total_missing'] = np.where(data['missing'] == 'set()', 1, data['total_missing'])
data.groupby(['metric', 'total_missing'])['value'].agg(["mean", "std"]) \
    .pivot_table(index=['total_missing'], columns='metric', values=['mean', 'std'])

                   mean                                     std            \
metric         Accuracy     Hit@5     MAP@5      MDCG  Accuracy     Hit@5
total_missing
1              0.306567  0.463820  0.274736  0.503321  0.136337  0.133142
2              0.279263  0.438011  0.265971  0.481888  0.133909  0.137816
3              0.247804  0.406109  0.252472  0.455533  0.132042  0.143728
4              0.206717  0.361720  0.231519  0.420197  0.128746  0.149781
5              0.150781  0.303321  0.202077  0.371456  0.117929  0.161123


metric            MAP@5      MDCG
total_missing
1              0.147204  0.108026
2              0.141605  0.108834
3              0.138855  0.110212
4              0.136113  0.111249
5              0.136798  0.108193

# Frequency

In [38]:
data = pd.read_csv('../common_results.csv', index_col=0)
data['total_missing'] = data['missing'].str.split(',').str.len() + 1
#data = data[nn_data['fold'] == 1]
data['total_missing'] = np.where(data['missing'] == 'set()', 1, data['total_missing'])
data.groupby(['metric', 'total_missing'])['value'].agg(["mean", "std"]) \
    .pivot_table(index=['total_missing'], columns='metric', values=['mean', 'std'])

                   mean                                    std            \
metric         Accuracy    Hit@5     MAP@5      MDCG  Accuracy     Hit@5
total_missing
1              0.251114  0.45534  0.305165  0.484906  0.141620  0.164311
2              0.251114  0.45534  0.305165  0.484906  0.139706  0.162090
3              0.251114  0.45534  0.305165  0.484906  0.139472  0.161819
4              0.251114  0.45534  0.305165  0.484906  0.139472  0.161819
5              0.251114  0.45534  0.305165  0.484906  0.139706  0.162090


metric            MAP@5      MDCG
total_missing
1              0.163485  0.121722
2              0.161276  0.120077
3              0.161006  0.119876
4              0.161006  0.119876
5              0.161276  0.120077

# KNN

In [37]:
data = pd.read_csv('../nn_results.csv', index_col=0)
data['total_missing'] = data['missing'].str.split(',').str.len() + 1
#data = data[nn_data['fold'] == 1]
data['total_missing'] = np.where(data['missing'] == 'set()', 1, data['total_missing'])
data.groupby(['metric', 'total_missing'])['value'].agg(["mean", "std"]) \
    .pivot_table(index=['total_missing'], columns='metric', values=['mean', 'std'])

                   mean                                     std            \
metric         Accuracy     Hit@5     MAP@5      MDCG  Accuracy     Hit@5
total_missing
1              0.357005  0.538250  0.307910  0.550268  0.131712  0.123882
2              0.344774  0.522100  0.306709  0.539787  0.135566  0.125173
3              0.329396  0.504916  0.303538  0.526697  0.137546  0.132308
4              0.309213  0.481078  0.298569  0.508485  0.142225  0.141423
5              0.285343  0.449618  0.292880  0.485496  0.145408  0.151709


metric            MAP@5      MDCG
total_missing
1              0.155573  0.103464
2              0.152304  0.105944
3              0.152289  0.109479
4              0.153448  0.114920
5              0.154791  0.120828